
.BG1 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-01.webp');}
.BG2 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-02.webp');}
.BG3 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-03.webp');}
.BG4 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-04.webp');}
.BG5 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-05.webp');}
.BG6 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-06.webp');}
.BG7 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-07.webp');}
.BG8 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-08.webp');}
.BG9 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-09.webp');}
.BG10 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-10.webp');}
.BG11 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-11.webp');}
.BG12 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-12.webp');}
.BG13 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-13.webp');}
.BG14 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-14.webp');}
.BG15 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-15.webp');}
.BG16 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-16.webp');}
.BG17 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-17.webp');}
.BG18 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-18.webp');}
.BG19 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-19.webp');}
.BG20 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/background-20.webp');}



.Taki1 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/taki-00.webp');}
.Taki2 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/taki-01.webp');}
.Taki3 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/taki-02.webp');}
.Taki4 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/taki-03.webp');}
.Taki5 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/taki-04.webp');}
.Taki6 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/taki-05.webp');}
.Taki7 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/taki-06.webp');}
.Taki8 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/taki-07.webp');}
.Taki9 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/taki-08.webp');}
.Taki10 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/taki-09.webp');}
.Taki11 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/taki-10.webp');}
.Taki12 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/taki-11.webp');}



.CabeloTras1 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-001.webp');}
    .CabeloTras12 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-002.webp');}
    .CabeloTras13 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-003.webp');}
    .CabeloTras14 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-004.webp');}
    .CabeloTras15 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-005.webp');}
    .CabeloTras16 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-006.webp');}
    .CabeloTras17 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-007.webp');}
    .CabeloTras18 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-008.webp');}
    .CabeloTras19 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-009.webp');}
    .CabeloTras110 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-010.webp');}

.CabeloTras2 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-011.webp');}
    .CabeloTras22 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-020.webp');}
    .CabeloTras23 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-019.webp');}
    .CabeloTras24 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-015.webp');}
    .CabeloTras25 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-012.webp');}
    .CabeloTras26 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-017.webp');}
    .CabeloTras27 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-013.webp');}
    .CabeloTras28 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-018.webp');}
    .CabeloTras29 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-014.webp');}
    .CabeloTras210 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-016.webp');}

.CabeloTras3 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-021.webp');}
    .CabeloTras32 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-022.webp');}
    .CabeloTras33 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-023.webp');}
    .CabeloTras34 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-024.webp');}
    .CabeloTras35 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-025.webp');}
    .CabeloTras36 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-026.webp');}
    .CabeloTras37 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-027.webp');}
    .CabeloTras38 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-028.webp');}
    .CabeloTras39 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-029.webp');}
    .CabeloTras410 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-030.webp');}

.CabeloTras4 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-031.webp');}
    .CabeloTras42 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-032.webp');}
    .CabeloTras43 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-033.webp');}
    .CabeloTras44 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-034.webp');}
    .CabeloTras45 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-035.webp');}
    .CabeloTras46 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-036.webp');}
    .CabeloTras47 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-037.webp');}
    .CabeloTras48 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-038.webp');}
    .CabeloTras49 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-039.webp');}
    .CabeloTras410 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-040.webp');}

.CabeloTras5 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-041.webp');}
    .CabeloTras52 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-042.webp');}
    .CabeloTras53 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-043.webp');}
    .CabeloTras54 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-044.webp');}
    .CabeloTras55 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-045.webp');}
    .CabeloTras56 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-046.webp');}
    .CabeloTras57 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-047.webp');}
    .CabeloTras58 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-048.webp');}
    .CabeloTras59 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-049.webp');}
    .CabeloTras510 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-050.webp');}

.CabeloTras6 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-051.webp');}
    .CabeloTras62 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-052.webp');}
    .CabeloTras63 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-053.webp');}
    .CabeloTras64 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-054.webp');}
    .CabeloTras65 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-055.webp');}
    .CabeloTras66 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-056.webp');}
    .CabeloTras67 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-057.webp');}
    .CabeloTras68 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-058.webp');}
    .CabeloTras69 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-059.webp');}
    .CabeloTras610 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-060.webp');}

.CabeloTras7 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-061.webp');}
    .CabeloTras72 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-070.webp');}
    .CabeloTras73 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-069.webp');}
    .CabeloTras74 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-068.webp');}
    .CabeloTras75 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-067.webp');}
    .CabeloTras76 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-063.webp');}
    .CabeloTras77 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-065.webp');}
    .CabeloTras78 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-066.webp');}
    .CabeloTras79 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-064.webp');}
    .CabeloTras710 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-062.webp');}

.CabeloTras8 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-081.webp');}
    .CabeloTras82 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-082.webp');}
    .CabeloTras83 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-083.webp');}
    .CabeloTras84 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-084.webp');}
    .CabeloTras85 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-085.webp');}
    .CabeloTras86 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-086.webp');}
    .CabeloTras87 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-087.webp');}
    .CabeloTras88 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-088.webp');}
    .CabeloTras89 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-089.webp');}
    .CabeloTras810 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-090.webp');}

.CabeloTras9 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-091.webp');}
    .CabeloTras92 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-092.webp');}
    .CabeloTras93 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-093.webp');}
    .CabeloTras94 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-094.webp');}
    .CabeloTras95 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-095.webp');}
    .CabeloTras96 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-096.webp');}
    .CabeloTras97 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-097.webp');}
    .CabeloTras98 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-098.webp');}
    .CabeloTras99 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-099.webp');}
    .CabeloTras910 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-100.webp');}

.CabeloTras10 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-101.webp');}
    .CabeloTras102 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-102.webp');}
    .CabeloTras103 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-103.webp');}
    .CabeloTras104 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-104.webp');}
    .CabeloTras105 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-105.webp');}
    .CabeloTras106 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-106.webp');}
    .CabeloTras107 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-107.webp');}
    .CabeloTras108 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-108.webp');}
    .CabeloTras109 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-109.webp');}
    .CabeloTras1010 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/back-wig-110.webp');}


    
.CabeloFrente1 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-001.webp');}
    .CabeloFrente12 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-002.webp');}
    .CabeloFrente13 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-003.webp');}
    .CabeloFrente14 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-004.webp');}
    .CabeloFrente15 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-005.webp');}
    .CabeloFrente16 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-006.webp');}
    .CabeloFrente17 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-007.webp');}
    .CabeloFrente18 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-008.webp');}
    .CabeloFrente19 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-009.webp');}
    .CabeloFrente110 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-010.webp');}

.CabeloFrente2 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-011.webp');}
    .CabeloFrente22 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-020.webp');}
    .CabeloFrente23 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-019.webp');}
    .CabeloFrente24 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-015.webp');}
    .CabeloFrente25 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-012.webp');}
    .CabeloFrente26 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-017.webp');}
    .CabeloFrente27 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-013.webp');}
    .CabeloFrente28 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-018.webp');}
    .CabeloFrente29 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-014.webp');}
    .CabeloFrente210 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-016.webp');}

.CabeloFrente3 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-021.webp');}
    .CabeloFrente32 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-022.webp');}
    .CabeloFrente33 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-023.webp');}
    .CabeloFrente34 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-024.webp');}
    .CabeloFrente35 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-025.webp');}
    .CabeloFrente36 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-026.webp');}
    .CabeloFrente37 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-027.webp');}
    .CabeloFrente38 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-028.webp');}
    .CabeloFrente39 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-029.webp');}
    .CabeloFrente410 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-030.webp');}

.CabeloFrente4 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-031.webp');}
    .CabeloFrente42 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-032.webp');}
    .CabeloFrente43 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-033.webp');}
    .CabeloFrente44 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-034.webp');}
    .CabeloFrente45 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-035.webp');}
    .CabeloFrente46 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-036.webp');}
    .CabeloFrente47 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-037.webp');}
    .CabeloFrente48 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-038.webp');}
    .CabeloFrente49 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-039.webp');}
    .CabeloFrente410 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-040.webp');}

.CabeloFrente5 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-041.webp');}
    .CabeloFrente52 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-042.webp');}
    .CabeloFrente53 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-043.webp');}
    .CabeloFrente54 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-044.webp');}
    .CabeloFrente55 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-045.webp');}
    .CabeloFrente56 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-046.webp');}
    .CabeloFrente57 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-047.webp');}
    .CabeloFrente58 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-048.webp');}
    .CabeloFrente59 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-049.webp');}
    .CabeloFrente510 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-050.webp');}

.CabeloFrente6 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-051.webp');}
    .CabeloFrente62 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-052.webp');}
    .CabeloFrente63 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-053.webp');}
    .CabeloFrente64 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-054.webp');}
    .CabeloFrente65 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-055.webp');}
    .CabeloFrente66 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-056.webp');}
    .CabeloFrente67 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-057.webp');}
    .CabeloFrente68 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-058.webp');}
    .CabeloFrente69 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-059.webp');}
    .CabeloFrente610 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-060.webp');}

.CabeloFrente7 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-061.webp');}
    .CabeloFrente72 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-070.webp');}
    .CabeloFrente73 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-069.webp');}
    .CabeloFrente74 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-068.webp');}
    .CabeloFrente75 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-067.webp');}
    .CabeloFrente76 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-063.webp');}
    .CabeloFrente77 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-065.webp');}
    .CabeloFrente78 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-066.webp');}
    .CabeloFrente79 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-064.webp');}
    .CabeloFrente710 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-062.webp');}

.CabeloFrente8 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-081.webp');}
    .CabeloFrente82 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-082.webp');}
    .CabeloFrente83 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-083.webp');}
    .CabeloFrente84 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-084.webp');}
    .CabeloFrente85 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-085.webp');}
    .CabeloFrente86 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-086.webp');}
    .CabeloFrente87 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-087.webp');}
    .CabeloFrente88 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-088.webp');}
    .CabeloFrente89 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-089.webp');}
    .CabeloFrente810 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-090.webp');}

.CabeloFrente9 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-091.webp');}
    .CabeloFrente92 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-092.webp');}
    .CabeloFrente93 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-093.webp');}
    .CabeloFrente94 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-094.webp');}
    .CabeloFrente95 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-095.webp');}
    .CabeloFrente96 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-096.webp');}
    .CabeloFrente97 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-097.webp');}
    .CabeloFrente98 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-098.webp');}
    .CabeloFrente99 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-099.webp');}
    .CabeloFrente910 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-100.webp');}

.CabeloFrente10 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-101.webp');}
    .CabeloFrente102 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-102.webp');}
    .CabeloFrente103 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-103.webp');}
    .CabeloFrente104 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-104.webp');}
    .CabeloFrente105 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-105.webp');}
    .CabeloFrente106 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-106.webp');}
    .CabeloFrente107 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-107.webp');}
    .CabeloFrente108 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-108.webp');}
    .CabeloFrente109 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-109.webp');}
    .CabeloFrente1010 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-110.webp');}

.CabeloFrente11 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-071.webp');}
    .CabeloFrente112 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-072.webp');}
    .CabeloFrente113 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-073.webp');}
    .CabeloFrente114 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-074.webp');}
    .CabeloFrente115 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-075.webp');}
    .CabeloFrente116 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-076.webp');}
    .CabeloFrente117 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-077.webp');}
    .CabeloFrente118 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-078.webp');}
    .CabeloFrente119 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-079.webp');}
    .CabeloFrente1110 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-080.webp');}

.CabeloFrente12 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-111.webp');}
    .CabeloFrente122 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-112.webp');}
    .CabeloFrente123 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-113.webp');}
    .CabeloFrente124 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-114.webp');}
    .CabeloFrente125 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-115.webp');}
    .CabeloFrente126 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-116.webp');}
    .CabeloFrente127 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-117.webp');}
    .CabeloFrente128 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-118.webp');}
    .CabeloFrente129 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-119.webp');}
    .CabeloFrente1210 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/front-wig-120.webp');}


.Acc1 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-01.webp');}
.Acc2 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-02.webp');}
.Acc3 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-03.webp');}
.Acc4 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-04.webp');}
.Acc5 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-05.webp');}
.Acc6 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-06.webp');}
.Acc7 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-07.webp');}
.Acc8 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-08.webp');}
.Acc9 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-09.webp');}
.Acc10 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-10.webp');}
.Acc11 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-11.webp');}
.Acc12 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-14.webp');}
.Acc13 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-16.webp');}
.Acc14 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-18.webp');}
.Acc15 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/hat-19.webp');}



.Pele1 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/skin-01.webp');}
.Pele2 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/skin-02.webp');}
.Pele3 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/skin-03.webp');}
.Pele4 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/skin-04.webp');}
.Pele5 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/skin-05.webp');}
.Pele6 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/skin-06.webp');}
.Pele7 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/skin-07.webp');}
.Pele8 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/skin-08.webp');}
.Pele9 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/skin-09.webp');}
.Pele10 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/skin-10.webp');}
.Pele11 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/skin-11.webp');}
.Pele12 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/skin-12.webp');}
.Pele13 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/skin-13.webp');}
.Pele14 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/skin-14.webp');}



.Roupa1 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-01.webp');}
.Roupa2 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-02.webp');}
.Roupa3 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-03.webp');}
.Roupa4 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-04.webp');}
.Roupa5 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-05.webp');}
.Roupa6 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-06.webp');}
.Roupa7 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-07.webp');}
.Roupa8 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-08.webp');}
.Roupa9 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-09.webp');}
.Roupa10 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-10.webp');}
.Roupa11 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-11.webp');}
.Roupa12 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-12.webp');}
.Roupa13 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-13.webp');}
.Roupa14 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-14.webp');}
.Roupa15 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-15.webp');}
.Roupa16 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-16.webp');}
.Roupa17 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-17.webp');}
.Roupa18 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-18.webp');}
.Roupa19 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-19.webp');}
.Roupa20 {background-image: url('https://www.amordoce-newgen.com/assets/disconnected/customization/avatars/outfit-20.webp');}