
.BG1 {background-image: url('../Imagens/Background/background-01.png');}
.BG2 {background-image: url('../Imagens/Background/background-02.png');}
.BG3 {background-image: url('../Imagens/Background/background-03.png');}
.BG4 {background-image: url('../Imagens/Background/background-04.png');}
.BG5 {background-image: url('../Imagens/Background/background-05.png');}
.BG6 {background-image: url('../Imagens/Background/background-06.png');}
.BG7 {background-image: url('../Imagens/Background/background-07.png');}
.BG8 {background-image: url('../Imagens/Background/background-08.png');}
.BG9 {background-image: url('../Imagens/Background/background-09.png');}
.BG10 {background-image: url('../Imagens/Background/background-10.png');}
.BG11 {background-image: url('../Imagens/Background/background-11.png');}
.BG12 {background-image: url('../Imagens/Background/background-12.png');}
.BG13 {background-image: url('../Imagens/Background/background-13.png');}
.BG14 {background-image: url('../Imagens/Background/background-14.png');}
.BG15 {background-image: url('../Imagens/Background/background-15.png');}
.BG16 {background-image: url('../Imagens/Background/background-16.png');}
.BG17 {background-image: url('../Imagens/Background/background-17.png');}
.BG18 {background-image: url('../Imagens/Background/background-18.png');}
.BG19 {background-image: url('../Imagens/Background/background-19.png');}
.BG20 {background-image: url('../Imagens/Background/background-20.png');}



.Taki1 {background-image: url('../Imagens/Taki/taki-00.png');}
.Taki2 {background-image: url('../Imagens/Taki/taki-01.png');}
.Taki3 {background-image: url('../Imagens/Taki/taki-02.png');}
.Taki4 {background-image: url('../Imagens/Taki/taki-03.png');}
.Taki5 {background-image: url('../Imagens/Taki/taki-04.png');}
.Taki6 {background-image: url('../Imagens/Taki/taki-05.png');}
.Taki7 {background-image: url('../Imagens/Taki/taki-06.png');}
.Taki8 {background-image: url('../Imagens/Taki/taki-07.png');}
.Taki9 {background-image: url('../Imagens/Taki/taki-08.png');}
.Taki10 {background-image: url('../Imagens/Taki/taki-09.png');}
.Taki11 {background-image: url('../Imagens/Taki/taki-10.png');}
.Taki12 {background-image: url('../Imagens/Taki/taki-11.png');}



.CabeloTras1 {background-image: url('../Imagens/Cabelos-Tras/back-wig-001.png');}
    .CabeloTras12 {background-image: url('../Imagens/Cabelos-Tras/back-wig-002.png');}
    .CabeloTras13 {background-image: url('../Imagens/Cabelos-Tras/back-wig-003.png');}
    .CabeloTras14 {background-image: url('../Imagens/Cabelos-Tras/back-wig-004.png');}
    .CabeloTras15 {background-image: url('../Imagens/Cabelos-Tras/back-wig-005.png');}
    .CabeloTras16 {background-image: url('../Imagens/Cabelos-Tras/back-wig-006.png');}
    .CabeloTras17 {background-image: url('../Imagens/Cabelos-Tras/back-wig-007.png');}
    .CabeloTras18 {background-image: url('../Imagens/Cabelos-Tras/back-wig-008.png');}
    .CabeloTras19 {background-image: url('../Imagens/Cabelos-Tras/back-wig-009.png');}
    .CabeloTras110 {background-image: url('../Imagens/Cabelos-Tras/back-wig-010.png');}

.CabeloTras2 {background-image: url('../Imagens/Cabelos-Tras/back-wig-011.png');}
    .CabeloTras22 {background-image: url('../Imagens/Cabelos-Tras/back-wig-020.png');}
    .CabeloTras23 {background-image: url('../Imagens/Cabelos-Tras/back-wig-019.png');}
    .CabeloTras24 {background-image: url('../Imagens/Cabelos-Tras/back-wig-015.png');}
    .CabeloTras25 {background-image: url('../Imagens/Cabelos-Tras/back-wig-012.png');}
    .CabeloTras26 {background-image: url('../Imagens/Cabelos-Tras/back-wig-017.png');}
    .CabeloTras27 {background-image: url('../Imagens/Cabelos-Tras/back-wig-013.png');}
    .CabeloTras28 {background-image: url('../Imagens/Cabelos-Tras/back-wig-018.png');}
    .CabeloTras29 {background-image: url('../Imagens/Cabelos-Tras/back-wig-014.png');}
    .CabeloTras210 {background-image: url('../Imagens/Cabelos-Tras/back-wig-016.png');}

.CabeloTras3 {background-image: url('../Imagens/Cabelos-Tras/back-wig-021.png');}
    .CabeloTras32 {background-image: url('../Imagens/Cabelos-Tras/back-wig-022.png');}
    .CabeloTras33 {background-image: url('../Imagens/Cabelos-Tras/back-wig-023.png');}
    .CabeloTras34 {background-image: url('../Imagens/Cabelos-Tras/back-wig-024.png');}
    .CabeloTras35 {background-image: url('../Imagens/Cabelos-Tras/back-wig-025.png');}
    .CabeloTras36 {background-image: url('../Imagens/Cabelos-Tras/back-wig-026.png');}
    .CabeloTras37 {background-image: url('../Imagens/Cabelos-Tras/back-wig-027.png');}
    .CabeloTras38 {background-image: url('../Imagens/Cabelos-Tras/back-wig-028.png');}
    .CabeloTras39 {background-image: url('../Imagens/Cabelos-Tras/back-wig-029.png');}
    .CabeloTras410 {background-image: url('../Imagens/Cabelos-Tras/back-wig-030.png');}

.CabeloTras4 {background-image: url('../Imagens/Cabelos-Tras/back-wig-031.png');}
    .CabeloTras42 {background-image: url('../Imagens/Cabelos-Tras/back-wig-032.png');}
    .CabeloTras43 {background-image: url('../Imagens/Cabelos-Tras/back-wig-033.png');}
    .CabeloTras44 {background-image: url('../Imagens/Cabelos-Tras/back-wig-034.png');}
    .CabeloTras45 {background-image: url('../Imagens/Cabelos-Tras/back-wig-035.png');}
    .CabeloTras46 {background-image: url('../Imagens/Cabelos-Tras/back-wig-036.png');}
    .CabeloTras47 {background-image: url('../Imagens/Cabelos-Tras/back-wig-037.png');}
    .CabeloTras48 {background-image: url('../Imagens/Cabelos-Tras/back-wig-038.png');}
    .CabeloTras49 {background-image: url('../Imagens/Cabelos-Tras/back-wig-039.png');}
    .CabeloTras410 {background-image: url('../Imagens/Cabelos-Tras/back-wig-040.png');}

.CabeloTras5 {background-image: url('../Imagens/Cabelos-Tras/back-wig-041.png');}
    .CabeloTras52 {background-image: url('../Imagens/Cabelos-Tras/back-wig-042.png');}
    .CabeloTras53 {background-image: url('../Imagens/Cabelos-Tras/back-wig-043.png');}
    .CabeloTras54 {background-image: url('../Imagens/Cabelos-Tras/back-wig-044.png');}
    .CabeloTras55 {background-image: url('../Imagens/Cabelos-Tras/back-wig-045.png');}
    .CabeloTras56 {background-image: url('../Imagens/Cabelos-Tras/back-wig-046.png');}
    .CabeloTras57 {background-image: url('../Imagens/Cabelos-Tras/back-wig-047.png');}
    .CabeloTras58 {background-image: url('../Imagens/Cabelos-Tras/back-wig-048.png');}
    .CabeloTras59 {background-image: url('../Imagens/Cabelos-Tras/back-wig-049.png');}
    .CabeloTras510 {background-image: url('../Imagens/Cabelos-Tras/back-wig-050.png');}

.CabeloTras6 {background-image: url('../Imagens/Cabelos-Tras/back-wig-051.png');}
    .CabeloTras62 {background-image: url('../Imagens/Cabelos-Tras/back-wig-052.png');}
    .CabeloTras63 {background-image: url('../Imagens/Cabelos-Tras/back-wig-053.png');}
    .CabeloTras64 {background-image: url('../Imagens/Cabelos-Tras/back-wig-054.png');}
    .CabeloTras65 {background-image: url('../Imagens/Cabelos-Tras/back-wig-055.png');}
    .CabeloTras66 {background-image: url('../Imagens/Cabelos-Tras/back-wig-056.png');}
    .CabeloTras67 {background-image: url('../Imagens/Cabelos-Tras/back-wig-057.png');}
    .CabeloTras68 {background-image: url('../Imagens/Cabelos-Tras/back-wig-058.png');}
    .CabeloTras69 {background-image: url('../Imagens/Cabelos-Tras/back-wig-059.png');}
    .CabeloTras610 {background-image: url('../Imagens/Cabelos-Tras/back-wig-060.png');}

.CabeloTras7 {background-image: url('../Imagens/Cabelos-Tras/back-wig-061.png');}
    .CabeloTras72 {background-image: url('../Imagens/Cabelos-Tras/back-wig-070.png');}
    .CabeloTras73 {background-image: url('../Imagens/Cabelos-Tras/back-wig-069.png');}
    .CabeloTras74 {background-image: url('../Imagens/Cabelos-Tras/back-wig-068.png');}
    .CabeloTras75 {background-image: url('../Imagens/Cabelos-Tras/back-wig-067.png');}
    .CabeloTras76 {background-image: url('../Imagens/Cabelos-Tras/back-wig-063.png');}
    .CabeloTras77 {background-image: url('../Imagens/Cabelos-Tras/back-wig-065.png');}
    .CabeloTras78 {background-image: url('../Imagens/Cabelos-Tras/back-wig-066.png');}
    .CabeloTras79 {background-image: url('../Imagens/Cabelos-Tras/back-wig-064.png');}
    .CabeloTras710 {background-image: url('../Imagens/Cabelos-Tras/back-wig-062.png');}

.CabeloTras8 {background-image: url('../Imagens/Cabelos-Tras/back-wig-081.png');}
    .CabeloTras82 {background-image: url('../Imagens/Cabelos-Tras/back-wig-082.png');}
    .CabeloTras83 {background-image: url('../Imagens/Cabelos-Tras/back-wig-083.png');}
    .CabeloTras84 {background-image: url('../Imagens/Cabelos-Tras/back-wig-084.png');}
    .CabeloTras85 {background-image: url('../Imagens/Cabelos-Tras/back-wig-085.png');}
    .CabeloTras86 {background-image: url('../Imagens/Cabelos-Tras/back-wig-086.png');}
    .CabeloTras87 {background-image: url('../Imagens/Cabelos-Tras/back-wig-087.png');}
    .CabeloTras88 {background-image: url('../Imagens/Cabelos-Tras/back-wig-088.png');}
    .CabeloTras89 {background-image: url('../Imagens/Cabelos-Tras/back-wig-089.png');}
    .CabeloTras810 {background-image: url('../Imagens/Cabelos-Tras/back-wig-090.png');}

.CabeloTras9 {background-image: url('../Imagens/Cabelos-Tras/back-wig-091.png');}
    .CabeloTras92 {background-image: url('../Imagens/Cabelos-Tras/back-wig-092.png');}
    .CabeloTras93 {background-image: url('../Imagens/Cabelos-Tras/back-wig-093.png');}
    .CabeloTras94 {background-image: url('../Imagens/Cabelos-Tras/back-wig-094.png');}
    .CabeloTras95 {background-image: url('../Imagens/Cabelos-Tras/back-wig-095.png');}
    .CabeloTras96 {background-image: url('../Imagens/Cabelos-Tras/back-wig-096.png');}
    .CabeloTras97 {background-image: url('../Imagens/Cabelos-Tras/back-wig-097.png');}
    .CabeloTras98 {background-image: url('../Imagens/Cabelos-Tras/back-wig-098.png');}
    .CabeloTras99 {background-image: url('../Imagens/Cabelos-Tras/back-wig-099.png');}
    .CabeloTras910 {background-image: url('../Imagens/Cabelos-Tras/back-wig-100.png');}

.CabeloTras10 {background-image: url('../Imagens/Cabelos-Tras/back-wig-101.png');}
    .CabeloTras102 {background-image: url('../Imagens/Cabelos-Tras/back-wig-102.png');}
    .CabeloTras103 {background-image: url('../Imagens/Cabelos-Tras/back-wig-103.png');}
    .CabeloTras104 {background-image: url('../Imagens/Cabelos-Tras/back-wig-104.png');}
    .CabeloTras105 {background-image: url('../Imagens/Cabelos-Tras/back-wig-105.png');}
    .CabeloTras106 {background-image: url('../Imagens/Cabelos-Tras/back-wig-106.png');}
    .CabeloTras107 {background-image: url('../Imagens/Cabelos-Tras/back-wig-107.png');}
    .CabeloTras108 {background-image: url('../Imagens/Cabelos-Tras/back-wig-108.png');}
    .CabeloTras109 {background-image: url('../Imagens/Cabelos-Tras/back-wig-109.png');}
    .CabeloTras1010 {background-image: url('../Imagens/Cabelos-Tras/back-wig-110.png');}


    
.CabeloFrente1 {background-image: url('../Imagens/Cabelos-Frente/front-wig-001.png');}
    .CabeloFrente12 {background-image: url('../Imagens/Cabelos-Frente/front-wig-002.png');}
    .CabeloFrente13 {background-image: url('../Imagens/Cabelos-Frente/front-wig-003.png');}
    .CabeloFrente14 {background-image: url('../Imagens/Cabelos-Frente/front-wig-004.png');}
    .CabeloFrente15 {background-image: url('../Imagens/Cabelos-Frente/front-wig-005.png');}
    .CabeloFrente16 {background-image: url('../Imagens/Cabelos-Frente/front-wig-006.png');}
    .CabeloFrente17 {background-image: url('../Imagens/Cabelos-Frente/front-wig-007.png');}
    .CabeloFrente18 {background-image: url('../Imagens/Cabelos-Frente/front-wig-008.png');}
    .CabeloFrente19 {background-image: url('../Imagens/Cabelos-Frente/front-wig-009.png');}
    .CabeloFrente110 {background-image: url('../Imagens/Cabelos-Frente/front-wig-010.png');}

.CabeloFrente2 {background-image: url('../Imagens/Cabelos-Frente/front-wig-011.png');}
    .CabeloFrente22 {background-image: url('../Imagens/Cabelos-Frente/front-wig-020.png');}
    .CabeloFrente23 {background-image: url('../Imagens/Cabelos-Frente/front-wig-019.png');}
    .CabeloFrente24 {background-image: url('../Imagens/Cabelos-Frente/front-wig-015.png');}
    .CabeloFrente25 {background-image: url('../Imagens/Cabelos-Frente/front-wig-012.png');}
    .CabeloFrente26 {background-image: url('../Imagens/Cabelos-Frente/front-wig-017.png');}
    .CabeloFrente27 {background-image: url('../Imagens/Cabelos-Frente/front-wig-013.png');}
    .CabeloFrente28 {background-image: url('../Imagens/Cabelos-Frente/front-wig-018.png');}
    .CabeloFrente29 {background-image: url('../Imagens/Cabelos-Frente/front-wig-014.png');}
    .CabeloFrente210 {background-image: url('../Imagens/Cabelos-Frente/front-wig-016.png');}

.CabeloFrente3 {background-image: url('../Imagens/Cabelos-Frente/front-wig-021.png');}
    .CabeloFrente32 {background-image: url('../Imagens/Cabelos-Frente/front-wig-022.png');}
    .CabeloFrente33 {background-image: url('../Imagens/Cabelos-Frente/front-wig-023.png');}
    .CabeloFrente34 {background-image: url('../Imagens/Cabelos-Frente/front-wig-024.png');}
    .CabeloFrente35 {background-image: url('../Imagens/Cabelos-Frente/front-wig-025.png');}
    .CabeloFrente36 {background-image: url('../Imagens/Cabelos-Frente/front-wig-026.png');}
    .CabeloFrente37 {background-image: url('../Imagens/Cabelos-Frente/front-wig-027.png');}
    .CabeloFrente38 {background-image: url('../Imagens/Cabelos-Frente/front-wig-028.png');}
    .CabeloFrente39 {background-image: url('../Imagens/Cabelos-Frente/front-wig-029.png');}
    .CabeloFrente410 {background-image: url('../Imagens/Cabelos-Frente/front-wig-030.png');}

.CabeloFrente4 {background-image: url('../Imagens/Cabelos-Frente/front-wig-031.png');}
    .CabeloFrente42 {background-image: url('../Imagens/Cabelos-Frente/front-wig-032.png');}
    .CabeloFrente43 {background-image: url('../Imagens/Cabelos-Frente/front-wig-033.png');}
    .CabeloFrente44 {background-image: url('../Imagens/Cabelos-Frente/front-wig-034.png');}
    .CabeloFrente45 {background-image: url('../Imagens/Cabelos-Frente/front-wig-035.png');}
    .CabeloFrente46 {background-image: url('../Imagens/Cabelos-Frente/front-wig-036.png');}
    .CabeloFrente47 {background-image: url('../Imagens/Cabelos-Frente/front-wig-037.png');}
    .CabeloFrente48 {background-image: url('../Imagens/Cabelos-Frente/front-wig-038.png');}
    .CabeloFrente49 {background-image: url('../Imagens/Cabelos-Frente/front-wig-039.png');}
    .CabeloFrente410 {background-image: url('../Imagens/Cabelos-Frente/front-wig-040.png');}

.CabeloFrente5 {background-image: url('../Imagens/Cabelos-Frente/front-wig-041.png');}
    .CabeloFrente52 {background-image: url('../Imagens/Cabelos-Frente/front-wig-042.png');}
    .CabeloFrente53 {background-image: url('../Imagens/Cabelos-Frente/front-wig-043.png');}
    .CabeloFrente54 {background-image: url('../Imagens/Cabelos-Frente/front-wig-044.png');}
    .CabeloFrente55 {background-image: url('../Imagens/Cabelos-Frente/front-wig-045.png');}
    .CabeloFrente56 {background-image: url('../Imagens/Cabelos-Frente/front-wig-046.png');}
    .CabeloFrente57 {background-image: url('../Imagens/Cabelos-Frente/front-wig-047.png');}
    .CabeloFrente58 {background-image: url('../Imagens/Cabelos-Frente/front-wig-048.png');}
    .CabeloFrente59 {background-image: url('../Imagens/Cabelos-Frente/front-wig-049.png');}
    .CabeloFrente510 {background-image: url('../Imagens/Cabelos-Frente/front-wig-050.png');}

.CabeloFrente6 {background-image: url('../Imagens/Cabelos-Frente/front-wig-051.png');}
    .CabeloFrente62 {background-image: url('../Imagens/Cabelos-Frente/front-wig-052.png');}
    .CabeloFrente63 {background-image: url('../Imagens/Cabelos-Frente/front-wig-053.png');}
    .CabeloFrente64 {background-image: url('../Imagens/Cabelos-Frente/front-wig-054.png');}
    .CabeloFrente65 {background-image: url('../Imagens/Cabelos-Frente/front-wig-055.png');}
    .CabeloFrente66 {background-image: url('../Imagens/Cabelos-Frente/front-wig-056.png');}
    .CabeloFrente67 {background-image: url('../Imagens/Cabelos-Frente/front-wig-057.png');}
    .CabeloFrente68 {background-image: url('../Imagens/Cabelos-Frente/front-wig-058.png');}
    .CabeloFrente69 {background-image: url('../Imagens/Cabelos-Frente/front-wig-059.png');}
    .CabeloFrente610 {background-image: url('../Imagens/Cabelos-Frente/front-wig-060.png');}

.CabeloFrente7 {background-image: url('../Imagens/Cabelos-Frente/front-wig-061.png');}
    .CabeloFrente72 {background-image: url('../Imagens/Cabelos-Frente/front-wig-070.png');}
    .CabeloFrente73 {background-image: url('../Imagens/Cabelos-Frente/front-wig-069.png');}
    .CabeloFrente74 {background-image: url('../Imagens/Cabelos-Frente/front-wig-068.png');}
    .CabeloFrente75 {background-image: url('../Imagens/Cabelos-Frente/front-wig-067.png');}
    .CabeloFrente76 {background-image: url('../Imagens/Cabelos-Frente/front-wig-063.png');}
    .CabeloFrente77 {background-image: url('../Imagens/Cabelos-Frente/front-wig-065.png');}
    .CabeloFrente78 {background-image: url('../Imagens/Cabelos-Frente/front-wig-066.png');}
    .CabeloFrente79 {background-image: url('../Imagens/Cabelos-Frente/front-wig-064.png');}
    .CabeloFrente710 {background-image: url('../Imagens/Cabelos-Frente/front-wig-062.png');}

.CabeloFrente8 {background-image: url('../Imagens/Cabelos-Frente/front-wig-081.png');}
    .CabeloFrente82 {background-image: url('../Imagens/Cabelos-Frente/front-wig-082.png');}
    .CabeloFrente83 {background-image: url('../Imagens/Cabelos-Frente/front-wig-083.png');}
    .CabeloFrente84 {background-image: url('../Imagens/Cabelos-Frente/front-wig-084.png');}
    .CabeloFrente85 {background-image: url('../Imagens/Cabelos-Frente/front-wig-085.png');}
    .CabeloFrente86 {background-image: url('../Imagens/Cabelos-Frente/front-wig-086.png');}
    .CabeloFrente87 {background-image: url('../Imagens/Cabelos-Frente/front-wig-087.png');}
    .CabeloFrente88 {background-image: url('../Imagens/Cabelos-Frente/front-wig-088.png');}
    .CabeloFrente89 {background-image: url('../Imagens/Cabelos-Frente/front-wig-089.png');}
    .CabeloFrente810 {background-image: url('../Imagens/Cabelos-Frente/front-wig-090.png');}

.CabeloFrente9 {background-image: url('../Imagens/Cabelos-Frente/front-wig-091.png');}
    .CabeloFrente92 {background-image: url('../Imagens/Cabelos-Frente/front-wig-092.png');}
    .CabeloFrente93 {background-image: url('../Imagens/Cabelos-Frente/front-wig-093.png');}
    .CabeloFrente94 {background-image: url('../Imagens/Cabelos-Frente/front-wig-094.png');}
    .CabeloFrente95 {background-image: url('../Imagens/Cabelos-Frente/front-wig-095.png');}
    .CabeloFrente96 {background-image: url('../Imagens/Cabelos-Frente/front-wig-096.png');}
    .CabeloFrente97 {background-image: url('../Imagens/Cabelos-Frente/front-wig-097.png');}
    .CabeloFrente98 {background-image: url('../Imagens/Cabelos-Frente/front-wig-098.png');}
    .CabeloFrente99 {background-image: url('../Imagens/Cabelos-Frente/front-wig-099.png');}
    .CabeloFrente910 {background-image: url('../Imagens/Cabelos-Frente/front-wig-100.png');}

.CabeloFrente10 {background-image: url('../Imagens/Cabelos-Frente/front-wig-101.png');}
    .CabeloFrente102 {background-image: url('../Imagens/Cabelos-Frente/front-wig-102.png');}
    .CabeloFrente103 {background-image: url('../Imagens/Cabelos-Frente/front-wig-103.png');}
    .CabeloFrente104 {background-image: url('../Imagens/Cabelos-Frente/front-wig-104.png');}
    .CabeloFrente105 {background-image: url('../Imagens/Cabelos-Frente/front-wig-105.png');}
    .CabeloFrente106 {background-image: url('../Imagens/Cabelos-Frente/front-wig-106.png');}
    .CabeloFrente107 {background-image: url('../Imagens/Cabelos-Frente/front-wig-107.png');}
    .CabeloFrente108 {background-image: url('../Imagens/Cabelos-Frente/front-wig-108.png');}
    .CabeloFrente109 {background-image: url('../Imagens/Cabelos-Frente/front-wig-109.png');}
    .CabeloFrente1010 {background-image: url('../Imagens/Cabelos-Frente/front-wig-110.png');}

.CabeloFrente11 {background-image: url('../Imagens/Cabelos-Frente/front-wig-071.png');}
    .CabeloFrente112 {background-image: url('../Imagens/Cabelos-Frente/front-wig-072.png');}
    .CabeloFrente113 {background-image: url('../Imagens/Cabelos-Frente/front-wig-073.png');}
    .CabeloFrente114 {background-image: url('../Imagens/Cabelos-Frente/front-wig-074.png');}
    .CabeloFrente115 {background-image: url('../Imagens/Cabelos-Frente/front-wig-075.png');}
    .CabeloFrente116 {background-image: url('../Imagens/Cabelos-Frente/front-wig-076.png');}
    .CabeloFrente117 {background-image: url('../Imagens/Cabelos-Frente/front-wig-077.png');}
    .CabeloFrente118 {background-image: url('../Imagens/Cabelos-Frente/front-wig-078.png');}
    .CabeloFrente119 {background-image: url('../Imagens/Cabelos-Frente/front-wig-079.png');}
    .CabeloFrente1110 {background-image: url('../Imagens/Cabelos-Frente/front-wig-080.png');}

.CabeloFrente12 {background-image: url('../Imagens/Cabelos-Frente/front-wig-111.png');}
    .CabeloFrente122 {background-image: url('../Imagens/Cabelos-Frente/front-wig-112.png');}
    .CabeloFrente123 {background-image: url('../Imagens/Cabelos-Frente/front-wig-113.png');}
    .CabeloFrente124 {background-image: url('../Imagens/Cabelos-Frente/front-wig-114.png');}
    .CabeloFrente125 {background-image: url('../Imagens/Cabelos-Frente/front-wig-115.png');}
    .CabeloFrente126 {background-image: url('../Imagens/Cabelos-Frente/front-wig-116.png');}
    .CabeloFrente127 {background-image: url('../Imagens/Cabelos-Frente/front-wig-117.png');}
    .CabeloFrente128 {background-image: url('../Imagens/Cabelos-Frente/front-wig-118.png');}
    .CabeloFrente129 {background-image: url('../Imagens/Cabelos-Frente/front-wig-119.png');}
    .CabeloFrente1210 {background-image: url('../Imagens/Cabelos-Frente/front-wig-120.png');}


.Acc1 {background-image: url('../Imagens/Acessorios/hat-01.png');}
.Acc2 {background-image: url('../Imagens/Acessorios/hat-02.png');}
.Acc3 {background-image: url('../Imagens/Acessorios/hat-03.png');}
.Acc4 {background-image: url('../Imagens/Acessorios/hat-04.png');}
.Acc5 {background-image: url('../Imagens/Acessorios/hat-05.png');}
.Acc6 {background-image: url('../Imagens/Acessorios/hat-06.png');}
.Acc7 {background-image: url('../Imagens/Acessorios/hat-07.png');}
.Acc8 {background-image: url('../Imagens/Acessorios/hat-08.png');}
.Acc9 {background-image: url('../Imagens/Acessorios/hat-09.png');}
.Acc10 {background-image: url('../Imagens/Acessorios/hat-10.png');}
.Acc11 {background-image: url('../Imagens/Acessorios/hat-11.png');}
.Acc12 {background-image: url('../Imagens/Acessorios/hat-12.png');}
.Acc13 {background-image: url('../Imagens/Acessorios/hat-13.png');}
.Acc14 {background-image: url('../Imagens/Acessorios/hat-14.png');}
.Acc15 {background-image: url('../Imagens/Acessorios/hat-15.png');}



.Pele1 {background-image: url('../Imagens/Peles/skin-01.png');}
.Pele2 {background-image: url('../Imagens/Peles/skin-02.png');}
.Pele3 {background-image: url('../Imagens/Peles/skin-03.png');}
.Pele4 {background-image: url('../Imagens/Peles/skin-04.png');}
.Pele5 {background-image: url('../Imagens/Peles/skin-05.png');}
.Pele6 {background-image: url('../Imagens/Peles/skin-06.png');}
.Pele7 {background-image: url('../Imagens/Peles/skin-07.png');}
.Pele8 {background-image: url('../Imagens/Peles/skin-08.png');}
.Pele9 {background-image: url('../Imagens/Peles/skin-09.png');}
.Pele10 {background-image: url('../Imagens/Peles/skin-10.png');}
.Pele11 {background-image: url('../Imagens/Peles/skin-11.png');}
.Pele12 {background-image: url('../Imagens/Peles/skin-12.png');}
.Pele13 {background-image: url('../Imagens/Peles/skin-13.png');}
.Pele14 {background-image: url('../Imagens/Peles/skin-14.png');}



.Roupa1 {background-image: url('../Imagens/Roupas/outfit-01.png');}
.Roupa2 {background-image: url('../Imagens/Roupas/outfit-02.png');}
.Roupa3 {background-image: url('../Imagens/Roupas/outfit-03.png');}
.Roupa4 {background-image: url('../Imagens/Roupas/outfit-04.png');}
.Roupa5 {background-image: url('../Imagens/Roupas/outfit-05.png');}
.Roupa6 {background-image: url('../Imagens/Roupas/outfit-06.png');}
.Roupa7 {background-image: url('../Imagens/Roupas/outfit-07.png');}
.Roupa8 {background-image: url('../Imagens/Roupas/outfit-08.png');}
.Roupa9 {background-image: url('../Imagens/Roupas/outfit-09.png');}
.Roupa10 {background-image: url('../Imagens/Roupas/outfit-10.png');}
.Roupa11 {background-image: url('../Imagens/Roupas/outfit-11.png');}
.Roupa12 {background-image: url('../Imagens/Roupas/outfit-12.png');}
.Roupa13 {background-image: url('../Imagens/Roupas/outfit-13.png');}
.Roupa14 {background-image: url('../Imagens/Roupas/outfit-14.png');}
.Roupa15 {background-image: url('../Imagens/Roupas/outfit-15.png');}
.Roupa16 {background-image: url('../Imagens/Roupas/outfit-16.png');}
.Roupa17 {background-image: url('../Imagens/Roupas/outfit-17.png');}
.Roupa18 {background-image: url('../Imagens/Roupas/outfit-18.png');}
.Roupa19 {background-image: url('../Imagens/Roupas/outfit-19.png');}
.Roupa20 {background-image: url('../Imagens/Roupas/outfit-20.png');}