body {
    background-color: burlywood;
    margin: 0;
    overflow: hidden;
    position: relative;
}

button {
    margin: 3px;
    transition: transform 200ms ease-in-out;
}

button:hover, button:focus {
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

#Botoes {
    position: absolute;
    top: 50px;
    left: 55%;
    z-index: 5;
}

.Margem {
    margin: 5px;
}
.MargemInterna {
    margin: 5px;
}