body {
    background-color: burlywood;
    margin: 0;
    overflow: hidden;
    position: relative;
}
#Fundo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
#Botoes {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 2;
}

#AtivaBotoesFundo {
    display: none;
}
.BG1 {
    width: 100px;
    height: 100px;
    background-image: url('../Imagens/Background/background-03.png');
    background-size: cover;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.BG2 {
    width: 100px;
    height: 100px;
    background-image: url('../Imagens/Background/background-15.png');
    background-size: cover;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.BG3 {
    width: 100px;
    height: 100px;
    background-image: url('../Imagens/Background/background-18.png');
    background-size: cover;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.BG4 {
    width: 100px;
    height: 100px;
    background-image: url('../Imagens/Background/background-20.png');
    background-size: cover;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.BotaoCategoria {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-image: url('../Imagens/Icons/quarto.png');
    background-size: cover;
    border: none;
    cursor: pointer;
}
.ContainerBotoesBG {
    display: flex;
    flex-direction: column;
}